<div class="dates-sidebar">
    <h2><i class="fa fa-thumbtack"></i> Important Dates</h2>
    <p><medium><em>Note: All times are Anywhere on Earth (AoE).</em></medium></p>
    <div class="dates-box">
        <p><strong>Call for Papers Announcement:</strong> {{ site.dates.cfp_announcement }}</p>
        <p><strong>Paper Submission Deadline:</strong> <s>{{ site.dates.submission_deadline }}</s> {{ site.dates.submission_deadline_new }}</p>
        <p><strong>Notification of Acceptance:</strong> {{ site.dates.notification }}</p>
        <p><strong>Camera-Ready Deadline:</strong> {{ site.dates.camera_ready }}</p>
        <p><strong>Workshop Date:</strong> {{ site.dates.workshop }}</p>
    </div>
</div>